
<a href = "{{=URL('ecreate')}}"><button>
    Create Event
    </button>
</a>
<br>
<div style="display:none;">
{{if len(event):}}
{{for event in event:}}
    <tr>
        <a href>
            <td><div id='ev'> {{=event.event_name}}</div></td>
        </a>
        <td><div id='des'> {{=event.event_description}}</div></td>
        <td><div id='sdate'> {{=event.start}}</div></td>
        <td><div id='edate'> {{=event.end}}</div></td>
        <br>
    </tr>
{{pass}}
{{pass}}
</div>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br />
                <div id="bootstrapModalFullCalendar"></div>
            </div>
        </div>
    </div>

    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body"></div>
                <div id="going" class="modal-body"></div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="eventUrl" target="_blank">Attending</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#bootstrapModalFullCalendar').fullCalendar({
                header: {
                    left: 'today',
                    center: 'prev title next',
                    right: 'month agendaWeek agendaDay'
                },
                eventClick:  function(event, jsEvent, view) {
                    $('#modalTitle').html($('#ev'));
                    $('#modalBody').html($('#des'));
                    $('#going').text("hi");
                    $('#eventUrl').attr('href',event.url);
                    $('#fullCalModal').modal();
                    return false;
                },
                
                events:
                [
                   {
                      // "title":"test",
                      "allday":"false",
                      // "description":$("#{{=event.event_description}}").text(),
                      "start":moment().add('seconds',86400),
                      "end":moment().add('seconds',86401),
                      "url":"http://www.youtube.com/",
                       backgroundColor: '#f44842'    
                   }
                ]
                
            });
        });
    </script>
</body>